{% extends "base.html" %}
{% load i18n admin_static %}
{% block title %}{% trans 'Sign in' %}{% endblock %}
{% block navbar %}{% include "nav_login.html" %}{% endblock %}
{% block body-class %}login_body{% endblock %}
{% block content %}
<div class="container login-container">
<div class="container container-fluid">
  <div class="row">
  <div class="col-lg-3 col-md-2 col-sm-1">
  </div>
  <div class="col-lg-6 col-md-8 col-sm-10 col-wide">
  {% if form.errors or form.non_field_errors or form.this_is_the_login_form.errors %}
  <div class="alert alert-danger">{% trans 'Access denied' %}.</div>
  {% endif %}
  <div class="card login-card">
  <div class="card-block">
  <form class="form-signin form-horizontal" action="/login/" method="post" id="login-form">{% csrf_token %}
    <h2 class="card-title login-card-title">{% trans 'Please sign in' %}</h2>
    <p>
    <label for="id_username" class="sr-only">{% trans 'User name' %}</label>
    <input type="text" name="username" id="id_username" class="form-control" placeholder="{% trans 'User name' %}" required>
    </p>
    <p>
    <label for="id_password" class="sr-only">i{% trans 'Password' %}</label>
    <input type="password" name="password" id="id_password" class="form-control" placeholder="{% trans 'Password' %}" required>
    </p>
    <p class="login-card-button">
    <button class="btn btn-lg btn-success btn-block" type="submit">{% trans 'Sign in' %}</button>
    </p>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  </div>
  </div>
  </div>
  <div class="col-lg-3 col-md-2 col-sm-1">
  </div>
  </div>
</div>
</div>
{% endblock %}
