{% extends "admin/base.html" %}
{% load i18n admin_static tile %}

{% block content %}
<div class="container">

<div class="row">
  <div class="col-12 col-wide">
    <div class="card">
      <div class="card-block">{% trans 'Administration' %}</div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-lg-8 col-wide">
    <div class="card">
      <div class="card-block">
      Main menu
      {% if app_list %}
      {% for app in app_list %}
        <div class="app-{{ app.app_label }} module">
        <table>
        <caption>
            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
        </caption>
        {% for model in app.models %}
          <tr class="model-{{ model.object_name|lower }}">
          {% if model.admin_url %}
              <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
          {% else %}
              <th scope="row">{{ model.name }}</th>
          {% endif %}
          {% if model.add_url %}
              <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
          {% else %}
              <td>&nbsp;</td>
          {% endif %}
          {% if model.admin_url %}
              <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
          {% else %}
              <td>&nbsp;</td>
          {% endif %}
          </tr>
          {% endfor %}
        </table>
        </div>
      {% endfor %}
      {% else %}
      <p>{% trans "You don't have permission to edit anything." %}</p>
      {% endif %}
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-wide">
    <div class="row tile-row">
    <div class="col-lg-12 col-md-6 col-wide">
    <div class="container">
      {% job_tile %}
    </div>
    <div class="container">
      {% ticker_tile %}
    </div>
    </div>
    <div class="col-lg-12 col-md-6 col-wide">
    <div class="container">
      {% minion_tile %}
    </div>
    <div class="container">
      <div class="tile">
      Calendar
      </div>
    </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}
