{
    "dependencies": {
{%- for packagename, package in pillar.get('frontend-npm-packages', {}).items() -%}
      {%- if 'last_entry' in package and package['last_entry'] %}
      "{{ packagename }}": "{{ package['version'] }}"
      {%- else %}
      "{{ packagename }}": "{{ package['version'] }}",
      {%- endif -%}
{% endfor %}
    },
    "devDependencies": {
      {%- for packagename, package in pillar.get('npm-dev-packages', {}).items() %}
      "{{ packagename }}": "{{ package['version'] }}",
      {%- endfor -%}
{%- for packagename, package in pillar.get('frontend-npm-dev-packages', {}).items() -%}
      {%- if 'last_entry' in package and package['last_entry'] %}
      "{{ packagename }}": "{{ package['version'] }}"
      {%- else %}
      "{{ packagename }}": "{{ package['version'] }}",
      {%- endif -%}
{% endfor %}
    },
    "author": "Alexandre da Costa",
    "description": "Front end React.js application for olympus.",
    "main": "index.js",
    "name": "interface",
    "scripts": {
      "build": "webpack .",
      "start": "webpack-dev-server .",
      "test": "test"
    },
    "type": "module",
    "version": "{{ pillar['backend-version'] }}"
}
