{% set trim_blocks=True -%}
{# Template for django local settings.  Managed by the supervisor. -#}
"""
Django settings for the Olympus local environment
"""

# CSRF setting (required for Django4+)

CSRF_TRUSTED_ORIGINS = ['https://*.{{ pillar['core-domain-CN']  }}']

# SECURITY WARNING: keep the secret key used in production secret!

SECRET_KEY = '{{ pillar['random_key']['django_secret_key'] }}'
ALLOWED_HOSTS = ['*']

# SECURITY WARNING: don't run with debug turned on in production!

{% if grains.get('stage') and grains['stage'] == 'develop' -%}
DEBUG = True
THUMBNAIL_DEBUG = True
{%- endif %}

# Database

DATABASES = {
{%- for dbid, database in pillar.get('frontend_databases', {}).items() %}
    '{{ dbid }}': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
{%- for host, hostinfo in salt['mine.get']('*', 'grains.items').items() -%}
{%- if 'server' in hostinfo and hostinfo['server'] == 'database' -%}
{%- for ip in hostinfo['ipv4'] -%}
{%- if pillar.ip_network in ip %}
        'HOST': '{{ ip }}',
{%- endif -%}
{%- endfor -%}
{%- endif -%}
{%- endfor %}
        'NAME': '{{ database['name'] }}',
        'OPTIONS': {'sslmode': 'require'},
        'PASSWORD': '{{ database['passphrase'] }}',
        'PORT': '{{ pillar['postgresql_port'] }}',
        'USER': '{{ database['user'] }}',
    },
{%- endfor %}
}
