{% set trim_blocks=True -%}
{# Template for django local settings.  Managed by the supervisor. -#}
"""
Django settings for the Olympus local environment
"""

# SECURITY WARNING: keep the secret key used in production secret!

SECRET_KEY = '{{ pillar['random_key']['django_secret_key'] }}'
ALLOWED_HOSTS = ['*']

# SECURITY WARNING: don't run with debug turned on in production!

{% if grains.get('stage') and grains['stage'] == 'develop' -%}
DEBUG = True
TEMPLATE_DEBUG = True
THUMBNAIL_DEBUG = True
{% else -%}
DEBUG = False
TEMPLATE_DEBUG = False
THUMBNAIL_DEBUG = False
{%- endif %}

# Database

{% for host, hostinfo in salt['mine.get']('*', 'grains.items').items() -%}
{%- if 'server' in hostinfo and hostinfo['server'] == 'supervisor' -%}
{%- for ipv4 in hostinfo['ipv4'] -%}
{%- if ipv4 != '127.0.0.1' -%}
{%- set database_ipv4=ipv4 -%}
{%- endif -%}
{%- endfor -%}
{%- endif -%}
{%- endfor -%}

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'app_data',
        'OPTIONS': { 'sslmode': 'require' }
        'PASSWORD': '{{ pillar['random_key']['frontend_db_key'] }}'
        'PORT': '5432',
        'USER': '{{ pillar['frontend-user'] }}',
    },
    'users': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
{%- for host, hostinfo in salt['mine.get']('*', 'grains.items').items() -%}
{%- if 'server' in hostinfo and hostinfo['server'] == 'supervisor' %}
        'HOST': '{{ hostinfo['server'] }}',
{%- endif -%}
{%- endfor %}
        'NAME': 'user_data',
        'OPTIONS': { 'sslmode': 'require' }
        'PASSWORD': '{{ pillar['random_key']['frontend_db_key'] }}'
        'PORT': '5432',
        'USER': '{{ pillar['frontend-user'] }}',
    }
}
