# This file is part of olympus.
#
# See tmpfiles.d(5) for details

# Location for olympus lock files

d /run/olympus 0755 root root -
d /run/olympus/apps 0755 root root -

# Init

d /run/olympus/init 0755 root root -

