# This file is part of olympus.
#
# See tmpfiles.d(5) for details

# Location for olympus lock files

d /run/olympus 0755 root root -
d /run/olympus/apps 0755 root root -

# Init

d /run/olympus/init 0755 root root -
d /run/olympus/apps/olympus 0755 olympus olympus -
f /run/olympus/apps/olympus/options.pid 0644 olympus olympus -
f /run/olympus/apps/olympus/symbols.pid 0644 olympus olympus -

{% if 'apps' in pillar['servers'][grains.get('server')] -%}
# Applications

{% for app in pillar['servers'][grains.get('server')]['apps'] %}
d /run/olympus/apps/{{ app }} 0755 {{ app }} {{ app }} -
{% endfor %}
{% endif %}
