{% set trim_blocks=True -%}
version: "{{ pillar['docker_compose_version'] }}"

services:
  pgadmin4:
    image: {{ pillar['database-docker-images']['pgadmin4']['image'] }}:{{ pillar['database-docker-images']['pgadmin4']['tag'] }}
    environment:
      PGADMIN_DEFAULT_EMAIL: {{ pillar['users']['pgadmin']['email_address'] }}
      PGADMIN_DEFAULT_PASSWORD: {{ pgadmin_default_password }}
      PGADMIN_LISTEN_PORT: 80
    ports:
      - "{{ pillar['pgadmin_proxy_port'] }}:80"
    volumes:
      - {{ pgadmin_lib_path }}:/var/lib/pgadmin
      - {{ pgadmin_path }}/servers.json:/pgadmin4/servers.json
    logging:
      driver: "json-file"
      options:
        max-size: "1024k"
        max-file: "10"
