{% set trim_blocks=True -%}
{
    "Servers": {
        "1": {
            "Name": "Django Application Data",
            "Group": "Interface",
{%- for ip in grains.get('ipv4') %}
{%- if pillar.ip_network in ip %}
            "Host": "{{ ip }}",
{%- endif %}
{%- endfor %}
            "Port": {{ pillar['postgresql_port'] }},
            "MaintenanceDB": "{{ pillar['frontend_databases']['application']['name'] }}",
            "Username": "{{ pillar['frontend_user'] }}",
            "SSLMode": "require",
            "Shared": true,
            "Comment": "Django interface server",
            "DBRestriction": "{{ pillar['frontend_databases']['application']['name'] }}",
            "PassFile": "/pgpass",
            "Timeout": 10
        }
    }
}
