{
    "Servers": {
        "1": {
            "Name": "Django",
            "Group": "Interface",
            "Host": "192.168.1.179",
            "Port": 5432,
            "MaintenanceDB": "app_data",
            "Username": "uwsgi",
            "SSLMode": "require",
            "Shared": true,
            "Comment": "Django interface server",
            "DBRestriction": "app_data",
            "PassFile": "/pgpass",
            "Timeout": 10
        }
    }
}
