{% extends "blog.html" %}
{% load i18n %}

{% block title %}{% trans 'Scribblings' %}{% endblock %}

{% block content %}
<p>
Scribblings scribble
</p>

<div class="card">
  <div class="card-block">
    <h4 class="card-title">Scribblings</h4>
    <p class="card-text">Minimalist dog blog</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      1 of 1
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 2
    </div>
    <div class="col">
      2 of 2
    </div>
  </div>
</div>

{% endblock content %}
