{% extends "blog.html" %}
{% load i18n %}

{% block title %}{% trans 'Scribblings' %}{% endblock %}

{% block content %}

<div class="row">
  <div class="card">
    <div class="card-block">Scribblings</div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8">
    <div class="container">
      <div class="row">
        <div class="card">
          <div class="card-block">Selector</div>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <div class="card-block">Feature</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-block">Sidebar</div>
    </div>
  </div>
</div>
{% endblock content %}

{% block footer %}
<div class="row">
  <div class="card">
    <div class="card-block">Footer</div>
  </div>
</div>

{% endblock footer %}
