{% extends "blog.html" %}
{% load i18n %}
{% block content %}
<div class="container">
<div class="row">
  <div class="col-12 col-wide">
    <div class="card">
      <div class="card-block">The Zodiacal Light</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-lg-8 col-wide">
    {% include "article_featurette.html" %}
    <div class="card">
      <div class="card-block">Feature</div>
    </div>
  </div>
  <div class="col-lg-4 col-wide">
    <div class="card">
      <div class="card-block">Sidebar<br/><br/><br/><br/><br/><br/><br/><br/></br></br>MoreSidebar</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-wide">
    <div class="card">
      <div class="card-block">Footer</div>
    </div>
  </div>
</div>
</div>
<div><br/><br/><br/></div>
{% endblock content %}
