" Core settings

set backspace=indent,eol,start " Proper backspace functionality
set encoding=utf-8             " Universal encoding
set expandtab                  " Expanding tab to spaces
set nofixendofline             " Eliminate the invisible newline added on save
set noswapfile                 " Disable use of swap files
set shiftwidth=4               " Size of an indent
set smartindent                " Auto indent new lines
set tabstop=4                  " Setting tab to 4 columns

" vim-pathogen

call pathogen#infect()
call pathogen#helptags()
syntax on
filetype plugin indent on

" NERDTree

" Open NERDTree window on opening Vim and go to editing window
autocmd VimEnter * NERDTree | wincmd p
" Refresh the current folder if there are any changes
autocmd BufEnter NERD_tree_* | execute 'normal R'
au CursorHold * if exists("t:NerdTreeBufName") | call <SNR>15_refreshRoot() | endif
" Reload the window if directory is changed
augroup DIRCHANGE
    au!
    autocmd DirChanged global :NERDTreeCWD
augroup END
" Close NERDTree automatically if it is the only window open
autocmd bufenter * if (winnr("$") == 1 && exists("b:NERDTree") && b:NERDTree.isTabTree()) | q | endif
let NERDTreeMinimalUI = 1
let NERDTreeDirArrows = 1

" python-mode

" Set 80-column width line to light blue
highlight ColorColumn ctermbg=4*
" Set line number gutter width to five spaces
set numberwidth=5
" Change line numbers to red
highlight LineNr term=bold cterm=NONE ctermfg=Red ctermbg=NONE gui=NONE guifg=Red guibg=NONE

" F4 to clear search

nnoremap <F4> :nohl<CR><C-l>:echo "Search Cleared"<CR>

" F3 to execute python script

autocmd FileType python nnoremap <buffer> <F5> :w<cr>:exec '!clear'<cr>:exec '!python3' shellescape(expand('%:p'), 1)<cr>

" Inactive settings, left for documentation
" These settings can be enabled during a specific editing session

" set colorcolumn=80 " Draw red line at column 80 (pep8)
                     " Useful when using pycodestyle, but irritating otherwise
" set number on      " Line numbering
                     " Similar use case as colorcolumn
