{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}{% endblock %} | {% trans 'Laika\'s Den' %}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="NONE,NOARCHIVE" />
{% include "styles.html" %}
{% block styles %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
<body class="{% block body-class %}{% endblock %}">
<div id="top-scroll">
<a href="#" class="scroll-tab" onclick="$('html,body').scrollTop(0);">
Laika's Den
<span class="fa fa-paw top-scroll-icon"></span>
</a>
</div>
{% block navbar %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block messages %}
{% if messages %}
{% for message in messages %}
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
  {% if message.tags == 'error'%}
    <div class="alert alert-danger">
  {% elif message.tags == 'warning'%}
    <div class="alert alert-warning">
  {% else %}
    <div class="alert alert-info">
  {% endif %}
    <ul class="list-unstyled">
    <li>{{ message }}</li>
    </ul>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock messages %}
{% block object-tools %}{% endblock %}
{% block content %}{{ content }}{% endblock %}
{% block footer-image %}
<div>
  <img src="/static/image/laikas_den_footer_v2.jpg" class="img-responsive center-block full-width">
</div>
{% endblock footer-image %}
{% block footer %}
<div id="footer">
  <span>
  <a href="https://www.twitter.com/FeralCanids" target="_blank" class=="left-footer-icon"><span class="fa fa-twitter" data-toggle="tooltip" data-placement="top" title="@FeralCanids"></span></a>
  <a href="https://www.linkedin.com/in/alex-da-costa-b02a513/" target="_blank"><span class="fa fa-linkedin" data-toggle="tooltip" data-placement="top" title="LinkedIn"></span></a>
  <span class="right-footer">
  <a href="{% url 'welcome_home' %}"><img src="/static/image/rocket_vector.png" class="right-footer-logo" data-toggle="tooltip" data-placement="top" title="{% trans 'Home' %}"></span></a>
  </span>
</div>
{% endblock %}
<div id="bottom-scroll">
<a href="##" class="scroll-tab" onclick="window.scrollTo(0,document.body.scrollHeight);">
<span class="fa fa-paw"></span>
</a>
</div>
{% include "js.html" %}
{% block js %}{% endblock %}
</body>
</html>
