{% load i18n %}
<nav class="navbar navbar-toggleable-sm navbar-light fixed-top">
  <div class="container container-nav">
  <div class="btn-group flexcontainerright">
  <div class="left-nav-icon">
  <span>
  <a href="{% url 'welcome_home' %}">
  <span class="left-nav-icon-link fa fa-home fa-2x" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Home' %}">
  </span>
  </a>
  </span>
  </div>
  <a class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <div class="navbar-toggler-icon"></div>
  </a>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item nav-item-leftend nav-float-icon">
        <a class="nav-link" href="{% url 'welcome_home' %}">
        <span class="fa fa-home fa-2x fa-nav-icon" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Home' %}"></span>
        </a>
      </li>
      <li class="nav-item nav-item-middle">
        <a class="nav-link" href="{% url 'blog_frontpage' %}">
        <span class="lg-hide">
        <span class="fa fa-pencil fa-2x fa-nav-icon" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Blog' %}"></span>
        </span>
        <span class="md-hide nav-text">{% trans 'Blog' %}</span>
        </a>
      </li>
      <li class="nav-item nav-item-middle">
        <a class="nav-link" href="/bigdata">
        <span class="lg-hide">
        <span class="fa fa-database fa-2x fa-nav-icon" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Big data' %}"></span>
        </span>
        <span class="md-hide nav-text">{% trans 'Big data' %}</span>
        </a>
      </li>
      <li class="nav-item nav-item-rightend">
        <a class="nav-link" href="/imageviewer">
        <span class="lg-hide">
        <span class="fa fa-camera fa-2x fa-nav-icon" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Photography' %}"></span>
        </span>
        <span class="md-hide nav-text">{% trans 'Photography' %}</span>
        </a>
      </li>
    </ul>
  </div>
  </div>
</nav>
