{% load i18n %}
<style type="text/css">
.flexcontainerright {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
 .navbar-page-nav-button {
  margin-right: 0px;
  padding: 9px;
}
</style>

<nav class="navbar navbar-toggleable-md navbar-light fixed-top bg-faded">
  <div class="btn-group flexcontainerright">
  <button class="navbar-toggler navbar-page-nav-button" type="button" title="{% trans "Top of page" %}" onclick="$('html,body').scrollTop(0);">
  <span class="fa fa-chevron-up"></span>
  </button>
  <button class="navbar-toggler navbar-page-nav-button" type="button" title="{% trans "Bottom of page" %}" onclick="window.scrollTo(0,document.body.scrollHeight);">
  <span class="fa fa-chevron-down"></span>
  </button>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>
