{% load i18n %}
<nav class="navbar navbar-white fixed-top">
  <div class="container">
  <span class="nav-login-home">
  <a href="{% url 'welcome_home' %}" class="left-nav-icon-link">
  <span class="fa fa-home fa-2x" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Home' %}">
  </span>
  </a>
  </span>
  <span class="nav-login-logo">
  <img class="nav-login-logo img-fluid" src="/static/image/rocket-dog-vector-logo.png" alt="{% trans 'Laika\'s Den' %}">
  Laika's Den
  </span>
  </div>
</nav>
