{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static "image/favicon.ico" %}"/>
<link href='//fonts.googleapis.com/css?family=Alegreya Sans SC' rel='stylesheet'>
<link href='//fonts.googleapis.com/css?family=Pangolin' rel='stylesheet'>
<link rel="stylesheet" href="{% static "sass/css/styles.min.css" %}"/>
<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "sass/js/tether.min.js" %}"></script>
<script type="text/javascript" src="{% static "sass/js/bootstrap.min.js" %}"></script>
