// Body

body {
  font-size: 1.3rem;
  padding-top: .5em;
  @media (max-width: 991px) {
  padding-bottom: 1em;
  }
}

// Images

.img-responsive.full-width {
  width: 100%;
}

// Top/bottom scrollers

#top-scroll {
  top: 0;
  position: fixed;
  background-color: rgba(240,240,240,1);
  height: 1em;
  width: 100%;
  z-index: 1;
}
.top-scroll-icon {
  padding-left: 1em
}
#bottom-scroll {
  bottom: 0;
  position: fixed;
  background-color: rgba(240,240,240,1);
  height: 1em;
  width: 100%;
  z-index: 1;
}
#footer {
  background-color: rgba(255,255,255,1);
  padding-left: 1em;
  padding-right: 1em;
  border-top-style: solid;
  border-width: 1px;
  border-color: rgba(217, 217, 217, 1);
}
.left-footer-icon {
  padding-right: .5em;
}
.right-footer {
  float: right;
}
.right-footer-logo {
  height: 20px; 
  width: 20px;
}
.fixed-top {
  top: 1em;
}
@media (min-width: 992px) {
  .fixed-top {
    top: 0em;
  }
  #bottom-scroll, #top-scroll {
    display: none;
  }
}

a.scroll-tab {
  display: block;
  font-family: 'Alegreya Sans SC';
  font-size: 70%;
  color: rgba(16,16,16,1);
  height: 100%;
  width: 100%;
  text-align: center; 
  text-decoration: none;
  letter-spacing: .5em;
}
