// animations

@keyframes welcome_home_intro_logo {
  0% { opacity: 0.0; visibility: visible;}
  100% { opacity: 1.0; visibility: visible;}
}
@keyframes welcome_home_intro_text {
  from {color: rgb(0, 0, 0); visibility: hidden;}
  to {color: rgb(255, 255, 255); visibility: visible;}
}

// styles

.intro_image { 
  position: relative;
  text-align: center;
  float: left;
}
.intro_text {
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-name: welcome_home_intro_text;
  color: rgb(255, 255, 255);
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 1.8em;
  letter-spacing: 1.8em;
  margin: 0em;
  padding: 0em;
  position: absolute;
  top: 1.5em;
  text-indent: 1.8em;
  width: 100%;
}
.intro_text img {
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-name: welcome_home_intro_logo;
  height: 3em;
  padding-right: 1.8em;
}
@media only screen and (min-width: 992px) and (max-width: 1279px) {
  .intro_text { 
    font-size: 1.5em; 
    letter-spacing: 1.5em; 
    text-indent: 1.5em; 
    top: 1.2em;
  }
  .intro_text img {
    margin: 1em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .intro_text { 
    font-size: 1.3em; 
    letter-spacing: 1.3em; 
    text-indent: 1.3em; 
    top: 1.6em;
  }
  .intro_text img {
    margin-left: .8em;
  }
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  .intro_text { 
    font-size: 1.2em; 
    letter-spacing: 1.2em; 
    text-indent: 1.2em; 
    top: 1.8em;
  }
  .intro_text img {
    margin-left: .5em;
  }
}
@media only screen and (max-width: 639px) {
  .intro_text { 
    font-size: 1.6em; 
    letter-spacing: 1.0em; 
    text-indent: 1.0em; 
    top: 1.0em;
  }
  .intro_text img {
    display: none;
  }
}
