{% set trim_blocks=True -%}
{# Template for local CA authority. -#}
[ ca ]
default_ca = CA_default

[ CA_default ]
serial           = ca-serial
crl              = ca-crl.pem
database         = ca-database.txt
name_opt         = CA_default
cert_opt         = CA_default
default_crl_days = 9999
default_md       = md5

[ req ]
default_bits       = 4096
days               = 9999
distinguished_name = req_distinguished_name
attributes         = req_attributes
prompt             = no
output_password    = {{ pillar['random_key']['ca_key'] }}

[ req_distinguished_name ]
C            = {{ pillar['core-domain-C'] }}
ST           = {{ pillar['core-domain-ST'] }}
L            = {{ pillar['core-domain-L'] }}
O            = {{ pillar['core-domain-O'] }}
OU           = {{ pillar['core-domain-OU'] }}
CN           = ca
emailAddress = {{ pillar['core-email'] }}

[ req_attributes ]
challengePassword = {{ pillar['random_key']['ca_key'] }}

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
{% for ip in ip_addresses -%}
IP.{{ loop.index }} = {{ ip }}
{%- endfor %}
