{% extends "welcome.html" %}
{% load i18n static %}
{% block content %}
<section id="intro_image">
<img id="background_mirror_image" src="/static/apps/welcome/image/laikas_den_welcome_640_bw.jpg" srcset="/static/apps/welcome/image/laikas_den_welcome_320_bw.jpg 320w, /static/apps/welcome/image/laikas_den_welcome_640_bw.jpg 640w, /static/apps/welcome/image/laikas_den_welcome_992_bw.jpg 992w, /static/apps/welcome/image/laikas_den_welcome_1280_bw.jpg 1280w, /static/apps/welcome/image/laikas_den_welcome_1920_bw.jpg 1920w" sizes="(max-width: 1920px) 100vw, 1920px" class="img-responsive full-width">
<img id="background_mirror_image_stable" src="/static/apps/welcome/image/laikas_den_welcome_640_bw.jpg" srcset="/static/apps/welcome/image/laikas_den_welcome_320_bw.jpg 320w, /static/apps/welcome/image/laikas_den_welcome_640_bw.jpg 640w, /static/apps/welcome/image/laikas_den_welcome_992_bw.jpg 992w, /static/apps/welcome/image/laikas_den_welcome_1280_bw.jpg 1280w, /static/apps/welcome/image/laikas_den_welcome_1920_bw.jpg 1920w" sizes="(max-width: 1920px) 100vw, 1920px" class="img-responsive full-width">
<img id="lead_image_fade" src="/static/apps/welcome/image/laikas_den_welcome_640.jpg" alt="laikas_den_welcome" srcset="/static/apps/welcome/image/laikas_den_welcome_320.jpg 320w, /static/apps/welcome/image/laikas_den_welcome_640.jpg 640w, /static/apps/welcome/image/laikas_den_welcome_992.jpg 992w, /static/apps/welcome/image/laikas_den_welcome_1280.jpg 1280w, /static/apps/welcome/image/laikas_den_welcome_1920.jpg 1920w" sizes="(max-width: 1920px) 100vw, 1920px" class="img-responsive full-width foreground_image">
<div id="intro_text">Laika's <img src="/static/image/rocket-dog-moon-vector-logo-white.png" alt="rocket-dog-moon-vector-logo-white" class="wide-img"> Den
<div id="intro_logo_under"><img src="/static/image/rocket-dog-moon-vector-logo-white.png" alt="rocket-dog-moon-vector-logo-white" class="thin-img"></div></div>
</section>
<section id="welcome">
<div id="welcome_header_image">
<img src="/static/apps/welcome/image/Hubble_Extreme_Deep_Field_640.jpg" alt="Hubble_Extreme_Deep_Field" srcset="/static/apps/welcome/image/Hubble_Extreme_Deep_Field_320.jpg 320w, /static/apps/welcome/image/Hubble_Extreme_Deep_Field_640.jpg 640w, /static/apps/welcome/image/Hubble_Extreme_Deep_Field_992.jpg 992w, /static/apps/welcome/image/Hubble_Extreme_Deep_Field_1280.jpg 1280w, /static/apps/welcome/image/Hubble_Extreme_Deep_Field_1920_v2.jpg 1920w" sizes="(max-width: 1920px) 100vw, 1920px" class="img-responsive full-width">
</div>
<div id="welcome_header_image_text">
<span>HUBBLE</span>
<br/>
EXTREME DEEP FIELD
</div>
<div id="welcome_header_text">
<span class="welcome_header welcome_header_intro">
{% trans 'Welcome To' %}
</span>
<br/>
<span class="welcome_header welcome_header_name">
{% trans 'Laika\'s Den' %}
</span>
<br/>
<br/>
<div class="welcome_header welcome_header_slogan">
{% trans 'And Look Through Our Window Onto' %}
</div>
<div class="welcome_header welcome_header_slogan welcome_header_slogan_highlight">
{% trans 'The Enigmatic Universe' %}
</div>
</div>
</section>
<section id="parallax">
<style type="text/css">
    .parallaxParent {
        height: 100vh;
        overflow: hidden;
    }
    .parallaxParent > * {
        height: 200%;
        position: relative;
        top: -100%;
    }
</style>
<div class="spacer s0"></div>
<div id="parallax1" class="parallaxParent">
    <div style="background-image: url(http://scrollmagic.io/img/example_parallax_bg1.png);"></div>
</div>
<div class="spacer s1">
    <div>
        <p>Content 1</p>
    </div>
</div>
<div class="spacer s0"></div>
<div id="parallax2" class="parallaxParent">
    <div style="background-image: url(http://scrollmagic.io/img/example_parallax_bg2.png);"></div>
</div>
<div class="spacer s1">
    <div>
        <p>Content 2</p>
    </div>
</div>
<div class="spacer s0"></div>
<div id="parallax3" class="parallaxParent">
    <div style="background-image: url(http://scrollmagic.io/img/example_parallax_bg3.png);"></div>
</div>
</section>
<section id="dedication">
</section>
{% endblock content %}

{% block js %}
<script type="text/javascript" src="{% static "apps/welcome/js/home.js" %}"></script>
<script>
    // init controller
    var controller = new ScrollMagic.Controller({globalSceneOptions: {triggerHook: "onEnter", duration: "200%"}});

    // build scenes
    new ScrollMagic.Scene({triggerElement: "#parallax1"})
                    .setTween("#parallax1 > div", {y: "80%", ease: Linear.easeNone})
                    .addIndicators()
                    .addTo(controller);

    new ScrollMagic.Scene({triggerElement: "#parallax2"})
                    .setTween("#parallax2 > div", {y: "80%", ease: Linear.easeNone})
                    .addIndicators()
                    .addTo(controller);

    new ScrollMagic.Scene({triggerElement: "#parallax3"})
                    .setTween("#parallax3 > div", {y: "80%", ease: Linear.easeNone})
                    .addIndicators()
                    .addTo(controller);
</script>
{% endblock %}
