{% extends "welcome.html" %}
{% load i18n %}
{% block content %}
<div id="intro_image">
<img id="background_mirror_image" src="/static/image/laikas_den_welcome-640-bw.jpg" srcset="/static/image/laikas_den_welcome-320-bw.jpg 320w, /static/image/laikas_den_welcome-640-bw.jpg 640w, /static/image/laikas_den_welcome-992-bw.jpg 992w, /static/image/laikas_den_welcome-1280-bw.jpg 1280w, /static/image/laikas_den_welcome-1920-bw.jpg 1920w" sizes="(max-width: 1920px) 100vw, 1920px" class="img-responsive full-width">
<img id="background_mirror_image_stable" src="/static/image/laikas_den_welcome-640-bw.jpg" srcset="/static/image/laikas_den_welcome-320-bw.jpg 320w, /static/image/laikas_den_welcome-640-bw.jpg 640w, /static/image/laikas_den_welcome-992-bw.jpg 992w, /static/image/laikas_den_welcome-1280-bw.jpg 1280w, /static/image/laikas_den_welcome-1920-bw.jpg 1920w" sizes="(max-width: 1920px) 100vw, 1920px" class="img-responsive full-width">
<img id="lead_image_fade" src="/static/image/laikas_den_welcome-640.jpg" alt="laikas_den_welcome" srcset="/static/image/laikas_den_welcome-320.jpg 320w, /static/image/laikas_den_welcome-640.jpg 640w, /static/image/laikas_den_welcome-992.jpg 992w, /static/image/laikas_den_welcome-1280.jpg 1280w, /static/image/laikas_den_welcome-1920.jpg 1920w" sizes="(max-width: 1920px) 100vw, 1920px" class="img-responsive full-width foreground_image">
<div id="intro_text">Laika's <img src="/static/image/rocket-dog-moon-vector-logo-white.png" alt="rocket-dog-moon-vector-logo-white"> Den</div>
</div>
<div class="container" style="height: 600px; overflow: auto;">
<p>
Welcome screen under intensive construction!
</p>
<p>
ABCDEFGHIJKLMNOPQRSTUVWXYZ<br/>
abcdefghijklmnopqrstuvwxyz<br/>
1234567890<br/>
!@#$%^&*()-_=+[]{};':",.<>/?
</p>
</div>
{% endblock content %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
<script type="text/javascript">
// var elem = document.getElementById("lead_image_fade");
// range = $(elem).outerHeight() / 2;
// $(window).on('scroll', function () {
//     var scrollTop = $(this).scrollTop();
//     var offset = $(elem).offset().top;
//     var height = $(elem).outerHeight();
//     offset = offset + height / 2;
//     var calc = 1 - (scrollTop - offset + range) / range;
//     $(elem).css({ 'opacity': calc });
//     if ( calc > '1' ) {
//       $(elem).css({ 'opacity': 1 });
//     } else if ( calc < '0' ) {
//       $(elem).css({ 'opacity': 0 });
//    }
// });
</script>
<script type="text/javascript">
var background_mirror_image = $("#background_mirror_image");
TweenMax.to(background_mirror_image, 6, {opacity:0});
var intro_text = $("#intro_text");
TweenMax.to(intro_text, 4, {css:{color: "rgb(255, 255, 255)", visibility: "visible"}});
var intro_text_img = $("#intro_text img");
TweenMax.fromTo(intro_text_img, 8, {css: {opacity: 0, visibility: "visible", transform: "scale(0.8)"}}, {css:{opacity: 1, visibility: "visible", transform: "scale(1)"}});
var controller = new ScrollMagic.Controller();
var lead_image_fade = new ScrollMagic.Scene({
 triggerElement: '#lead_image_fade',
 triggerHook: 0,
 duration: 500,
 opacity: 0
});
lead_image_fade.addIndicators({
 name: 'lead_image_fade',
 colorStart: 'yellow',
 colorTrigger: 'green',
})
controller.addScene(lead_image_fade);
</script>
{% endblock %}
