{% extends "welcome.html" %}
{% load i18n static %}
{% block content %}
<section id="intro_image">
<img id="background_mirror_image" src="/static/apps/welcome/image/laikas_den_welcome_640_bw.jpg" class="img-responsive full-width">
<img id="background_mirror_image_stable" src="/static/apps/welcome/image/laikas_den_welcome_640_bw.jpg" class="img-responsive full-width">
<img id="lead_image_fade" src="/static/apps/welcome/image/laikas_den_welcome_640.jpg" class="img-responsive full-width" style="width: 100%;">
<div id="intro_text">Laika's <img src="/static/image/rocket-dog-moon-vector-logo-white.png" alt="rocket-dog-moon-vector-logo-white" class="wide-img"> Den
<div id="intro_logo_under"><img src="/static/image/rocket-dog-moon-vector-logo-white.png" alt="rocket-dog-moon-vector-logo-white" class="thin-img"></div></div>
</section>
<section id="welcome">
<div id="welcome_overlay" class="overlay overlay_black overlay_welcome"></div>
<div id="welcome_header_image">
<img src="/static/apps/welcome/image/Hubble_Extreme_Deep_Field_320.jpg" class="img-responsive full-width" id="welcome_header_img">
</div>
<div id="welcome_header_image_text">
<span>{% trans 'HUBBLE' %}</span>
<br/>
{% trans 'EXTREME DEEP FIELD' %}
</div>
<div id="welcome_header_text">
<span class="welcome_header welcome_header_intro">
{% trans 'Welcome To' %}
</span>
<br/>
<span class="welcome_header welcome_header_name">
{% trans 'Laika\'s Den' %}
</span>
<br/>
<br/>
<div class="welcome_header welcome_header_slogan" id="welcome_header_slogan">
{% trans 'And Look Through Our Window Onto' %}
</div>
<div class="welcome_header welcome_header_slogan welcome_header_slogan_highlight">
{% trans 'The Enigmatic Universe' %}
</div>
</div>
</section>
<section id="features">
<div id="blog" class="feature">
<div id="blog_overlay" class="overlay overlay_black overlay_feature">BLOG</div>
</div>
<div id="blog_summary" class="feature_summary">
the zodiacal light
</div>
<div id="photography" class="feature">
<div id="photography_overlay" class="overlay overlay_black overlay_feature">PHOTOGRAPHY</div>
</div>
<div id="photography_summary" class="feature_summary">
spaceship earth
</div>
<div id="projects" class="feature">
<div id="projects_overlay" class="overlay overlay_black overlay_feature">PROJECTS</div>
</div>
<div id="projects_summary" class="feature_summary">
the kuiper belt
</div>
</section>
<section id="dedication">
DEDICATION
</section>
{% endblock content %}

{% block js %}
<script type="text/javascript" src="{% static "apps/welcome/js/home.js" %}"></script>
{% endblock %}
