{
    "dependencies": {
{%- for packagename, package in pillar.get('backend-npm-packages', {}).items() %}
      {% if package['last_entry'] %}
      "{{ packagename }}": "{{ package['version'] }}"
      {% else %}
      "{{ packagename }}": "{{ package['version'] }}",
      {% endif %}
{%- endfor %}
    },
    "main": "app.js",
    "name": "restapi",
    "scripts": {
        "tests": "mocha lib/**/**.spec.js"
    },
    "version": "{{ pillar['backend-version'] }}"
}
