{
    "dependencies": {
{%- for packagename, package in pillar.get('backend-npm-packages', {}).items() %}
      "{{ packagename }}": "{{ package['version'] }}",
{%- endfor %}
    },
    "main": "app.js",
    "name": "restapi",
    "scripts": {
        "tests": "mocha lib/**/**.spec.js"
    },
    "version": "{{ pillar['backend-version'] }}",
}
