{% set trim_blocks=True %}
{% set watchlist_count=pillar.get('symbol_watchlists', {}).items()|length -%}
{
{% for watchlist_name, entries in pillar.get('symbol_watchlists', {}).items() %}
    {{ watchlist_count }}
    {{ loop.index }}
    "{{ watchlist_name }}": {{ entries }}{%- if watchlist_count < loop.index -%},{%- endif -%}
{% endfor %}
}
