{% set trim_blocks=True -%}
{% set corrections_count=pillar.get('symbol_corrections', {}).items()|length -%}
{
{%- for symbol, details in pillar.get('symbol_corrections', {}).items() %}
{%- set what_count=details['what']|length %}
    "{{ symbol }}":
    {
        "Action": "{{ details['action'] }}",
        "SecurityClass": "{{ details['security_class'] }}",
        "What":
        {
            {%- for key, value in details['what'] %}
            "{{ key }}": "{{ value }}"{% if loop.index < what_count %},{% endif -%}
            {% endfor -%}
        }
    }{% if loop.index < corrections_count %},{% endif -%}
{% endfor %}
}
