{% set trim_blocks=True -%}
{% set corrections_count=pillar.get('symbol_corrections', {}).items()|length -%}
{
{%- for symbol, details in pillar.get('symbol_corrections', {}).items() %}
{%- set what_count=details['what']|length %}
    "{{ symbol }}":
    {
        "Action": "{{ details['action'] }}",
        "SecurityClass": "{{ details['security_class'] }}",
        "What":
        {
            {%- set what_keys = details['what'].keys() | list %}
            {{ what_keys }}
            {{ details['what'] }}
        {
    }{% if loop.index < corrections_count %},{% endif -%}
{% endfor %}
}
