#!/usr/bin/env bash
#
# {{ pillar['system_init_scripts_directory'] }}/{{ pillar['web_daemon'] }}
#
### BEGIN INIT INFO
# Provides:          {{ pillar['web_daemon'] }}
# Required-Start:    $local_fs $networking
# Required-Stop:     $local_fs $networking
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Init script for front end web daemon
### END INIT INFO

daemon={{ pillar['web_daemon_fullpath'] }}
inifile=/etc/{{ pillar['web_daemon'] }}.ini
lockfile_prefix={{ pillar['pidfile_path'] }}/{{ pillar['web_daemon'] }}
lockfile=$lockfile_prefix.pid
prog={{ pillar['web_daemon'] }}
runuser={{ pillar['web_daemon_username'] }}
vassaldir={{ pillar['web_daemon_vassals_directory'] }}

. /lib/lsb/init-functions

do_pid_check()
{
    [[ -f $lockfile ]] || return 0
    local PID=$(cat $lockfile)
    for p in $(pgrep $prog); do
        [[ $p == $PID ]] && return 1
    done
    return 0
}

wait_and_clean_pidfile()
{
    until do_pid_check $lockfile; do
        echo -n "";
    done
    rm -f $lockfile
}

do_start()
{
    if do_pid_check; then
        FILES=`ls $vassaldir`
        for initfile in $FILES
        do
            INITFILE=`echo $initfile | sed 's/\.ini$//'`
            touch $lockfile_prefix.$INITFILE.pid
            chmod 0664 $lockfile_prefix.$INITFILE.pid
            chown $runuser:$runuser $lockfile_prefix.$INITFILE.pid
        done
        [ -x $daemon ] || exit 5
        [ -f $inifile ] || exit 6
        touch $lockfile
        chmod 0664 $lockfile
        chown root:root $lockfile
        start-stop-daemon --start --quiet --pidfile $lockfile --exec $daemon -- $inifile
    else
        echo "Already running!"
    fi
}

do_stop()
{
    start-stop-daemon --signal QUIT -p $lockfile --stop $daemon
    wait_and_clean_pidfile
}

case "$1" in
    restart)
        do_stop
        do_start
        ;;
    start)
        do_start
        ;;
    status)
        status_of_proc -p "$lockfile" "$daemon" "$prog" && exit 0 || exit $?
        ;;
    stop)
        do_stop
        ;;
    *)
        echo "Usage: {{ pillar['system_init_scripts_directory'] }}/{{ pillar['web_daemon'] }} {restart|start|status|stop}"
        exit 1
    ;;
esac
